@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid $border-color;
  background-color: $bg-light;
  position: relative;

  .userCard {
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 16px;

    &:hover {
      background-color: darken($primary-blue, 5%);
    }

    .userImage {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 30px;

    }

    h3 {
      margin: 0 0 8px 0;
      color: $text-dark;
      font-size: 16px;
    }

    p {
      margin: 0;
      color: $text-light;
      font-size: 14px;
    }

    .jobTitle {
      font-size: 12px;
      color: #888;
      margin-top: 4px;
      font-style: italic;
    }
  }

  .loading {
    padding: 16px;
    text-align: center;
    background: rgba($bg-light, 0.8);
    position: sticky;
    bottom: 0;
  }

  .endMessage {
    padding: 16px;
    text-align: center;
    background: $bg-light;
    border-top: 1px solid $border-color;
    color: $text-light;
    font-style: italic;
    position: sticky;
    bottom: 0;
  }
}