// src/styles/mixins.scss

// Media queries
@mixin respond-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// Focus styles
@mixin focus-style {
  outline: none;
  //box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
}

// Card hover effect
@mixin card-hover {
  transition: all 0.2s ease;

  &:hover {
    //background-color: darken($bg-light, 5%);
    transform: translateY(-1px);
  }
}